<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Om</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAbout()">Stäng</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Skapat av</span>
          <input type="text" readonly value="HRM Software AB">
        </label>
        <label class="item item-input">
          <span class="input-label">Licens</span>
          <input type="text" readonly value="MIT">
        </label>
      </div>
  </ion-content>
</ion-modal-view>
