<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Öppettider</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeOpen()">Stäng</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Öppettider</span>
        <input type="text" readonly value="Här skulle öppettider för återvinningsstationer kunna visas">
      </label>
    </div>
  </ion-content>
</ion-modal-view>
