<ion-view view-title="Återvinning">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        {{ title }}
      </div>
      <div class="item item-text-wrap">
        <canvas id="line" class="chart chart-bar" chart-data="data"
                chart-labels="labels" chart-legend="true" chart-series="series"
                chart-click="onClick" >
        </canvas>
      </div>
    </div>
    <button ng-click="toggle()">{{ toggleTitle }}</button>
  </ion-content>
</ion-view>
